@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.delivery {
   text-transform: uppercase;
   transition: all 0.7s ease-in-out;
}

.delivery:hover {
   cursor: pointer;
   color: #fff;
}

.design {
   height: 300px;
   font-family: 'Caprasimo', cursive;
   width: 100%;
   background: linear-gradient(90deg, rgba(0, 36, 0, 1) 0%, rgba(150, 150, 173, 1) 0%, rgba(204, 174, 35, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.display_products {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr;
   grid-gap: 10px;
}

.featured {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(6, 1fr);
   grid-gap: 50px;
}